/* attachments styling */

.attachmentsTableExplanation
  margin: 20px 0 5px 4px

.attachmentsTable, .attachmentsTableExplanation
  margin-left: 10px

.attachmentsTable
  width: 100%
  td
    padding: 2px 4px 2px 4px
  th
    padding: 2px 4px 2px 4px
    background-color: $whiteSmoke
