// contact_forms styling
.contact_form_field
  fieldset
    border: 0
    margin: 0
    padding: 0
    legend
      display: none

.contact_form .buttons
  margin-top: 5px
  padding: 5px
  a
    color: $default
    margin: 0
