.faq_theme_listing
  ul.faq_categories
    list-style: none
    padding-left: 0px
    li
      h3,dl
        margin: 0
        padding: 0
      h3>a, dl>dt>a
        padding-left: 13px
        line-height: 28px
        font-weight: bold
      h3>a
        color: $white
        font-size: 12px
        text-decoration: none
        display: block
      dl
        border-left-style: solid
        border-left-width: 20px
        dt

        dd
          margin: 0px 20px
          padding-bottom: 12px
          p
            margin-bottom: 0px
