<div style="font-family: arial, sans-serif; font-size: 12px">
  <p>
      Beste heer/mevrouw,
  </p>
  <p>
      U of iemand anders heeft geprobeerd een wachtwoord op te vragen voor dit e-mailadres bij <%= @host %>. Helaas bestaat er geen account bij dit e-mailadres (<%= @invitation_email -%>). Mogelijk heeft u geen account of heeft u het verkeerde e-mailadres gebruikt. Als u dit niet zelf heeft aangevraagd kunt u dit bericht negeren.
  </p>
  <p>
      Met vriendelijke groet,
      <br/><br/>
      Het <%= @host %> team
  </p>
</div>