<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <p>Beste <%= @user.login %>,</p>
  <p>U ontvangt deze e-mail omdat u uw wachtwoord voor <%= @host %> opnieuw wilt instellen.</p>
  <p>
    Klik <%= link_to 'hier', edit_password_reset_url(@user.password_reset_token, :protocol => (Settler[:ssl_enabled] ? 'https://' : 'http://'), :host => @host) %>
    om een nieuw wachtwoord in te stellen.
  </p>
  <p>
    Met vriendelijke groet,
    <br/><br/>
    Het <%= @host %> team
  </p>
</div>
