<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <p>Beste heer/mevrouw,</p>
  <p>
      U ontvangt deze e-mail omdat u vermeld staat in de lijst van webmasters die de Bekendmakingen PDF ontvangen.
      Bijgevoegd vindt u de PDF met de bekendmakingen van week <%= @week %> <%= @year %>.
  </p>
  <p>
      Met vriendelijke groet,
      <br/><br/>
      Het <%= @host %> team
  </p>
</div>
