#side_box_search
  - form_tag(search_path(:protocol => 'http'), { :method => :get, :class => 'clearfix' }) do
    .search_terms
      %label{ :for => "search_terms", :class => "hidden" }
        =t 'search.search'
      = text_field_tag(:query, @query, :id => 'side_box_search_terms')
      = hidden_field_tag(:search_scope, "node_#{parent.id}")

    .clearfix
      = submit_tag t('search.search'), :class => 'submit'
