.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* Content type icon styles */
.attachment_icon {
  background-image: url("/images/icons/attachment.png") !important; }

.html_page_icon {
  background-image: url("/images/icons/html_page.png") !important; }

.page_icon {
  background-image: url("/images/icons/page.png") !important; }

.top_hits_page_icon {
  background-image: url("/images/icons/top_hits_page.png") !important; }

.news_viewer_icon, .news_archive_icon {
  background-image: url("/images/icons/news_archive.png") !important; }

.news_item_icon {
  background-image: url("/images/icons/news_item.png") !important; }

.section_icon {
  background-image: url("/images/icons/section.png") !important; }

.poll_icon {
  background-image: url("/images/icons/poll.png") !important; }

.poll_question_icon {
  background-image: url("/images/icons/poll_question.png") !important; }

.external_link_icon, .internal_link_icon {
  background-image: url("/images/icons/link.png") !important; }

.calendar_icon {
  background-image: url("/images/icons/calendar.png") !important; }

.combined_calendar_icon {
  background-image: url("/images/icons/combined_calendar.png") !important; }

.calendar_item_icon {
  background-image: url("/images/icons/calendar_item.png") !important; }

.meeting_icon {
  background-image: url("/images/icons/meeting.png") !important; }

.newsletter_archive_icon {
  background-image: url("/images/icons/newsletter_archive.png") !important; }

.newsletter_edition_icon {
  background-image: url("/images/icons/newsletter_edition.png") !important; }

.image_icon {
  background-image: url("/images/icons/image.png") !important; }

.feed_icon {
  background-image: url("/images/icons/feed.png") !important; }

.weblog_archive_icon {
  background-image: url("/images/icons/weblog_archive.png") !important; }

.weblog_icon {
  background-image: url("/images/icons/weblog.png") !important; }

.weblog_post_icon {
  background-image: url("/images/icons/weblog_post.png") !important; }

.forum_icon {
  background-image: url("/images/icons/forum.png") !important; }

.forum_topic_icon {
  background-image: url("/images/icons/forum_topic.png") !important; }

.forum_thread_icon {
  background-image: url("/images/icons/forum_thread.png") !important; }

.forum_post_icon {
  background-image: url("/images/icons/forum_post.png") !important; }

.contact_box_icon {
  background-image: url("/images/icons/contact_box.png") !important; }

.carrousel_icon {
  background-image: url("/images/icons/carrousel.png") !important; }

.site_icon {
  background-image: url("/images/icons/site.png") !important; }

.alphabetic_index_icon {
  background-image: url("/images/icons/alphabetic_index.png") !important; }

.map_icon {
  background-image: url("/images/icons/map.png") !important; }

/*other icons */
.menu_item_delete, .menu_item_reject, .menu_item_unsubscribe {
  background-image: url("/images/icons/delete.png") !important; }

.menu_item_approve {
  background-image: url("/images/icons/accept.png") !important; }

.menu_item_create, .menu_item_subscribe {
  background-image: url("/images/icons/add.png") !important; }

.menu_item_edit {
  background-image: url("/images/icons/pencil.png") !important; }

/* Approval styles */
#approvals_right_panel table.mceLayout {
  width: 80% !important; }
#approvals_right_panel .bread_crumbs {
  background-color: #dfe8f6;
  color: #456ea4;
  border-bottom: 1px solid #dddddd;
  padding: 2px;
  padding-left: 5px; }
  #approvals_right_panel .bread_crumbs a {
    color: #456ea4;
    line-height: normal; }

#intro_text {
  padding: 14px 10px 10px 10px; }

#content p {
  margin: 0 0 4px 0; }

#approve_content {
  padding: 20px; }

#editor_comment_panel .header {
  font-weight: bold;
  margin-bottom: 10px; }
#editor_comment_panel .editor_comment {
  margin: 5px; }

.x-grid3 table {
  table-layout: fixed; }

.x-grid3-col-comment {
  white-space: normal; }

.x-menu-item .x-form-text {
  margin-left: 22px; }

h2 .diff, .content .diff {
  display: inline;
  margin: 0 1px;
  padding: 0 2px; }

h2 .diff-ins {
  background-color: lightgreen; }

.content .diff-ins {
  background-color: lightgreen; }
  .content .diff-ins p {
    background-color: lightgreen; }

h2 .diff-del {
  background-color: crimson; }

.content .diff-del {
  background-color: crimson; }
  .content .diff-del p {
    background-color: crimson; }

/* Newsletter Edition styles */
#newsletter_subscriptions {
  margin-left: 40px; }

#newsletter_edition_body_tbl {
  width: 400px !important; }

/*Category selection config */
#geo_data {
  margin: 0 0 20px 0; }

#category_settings {
  margin: 0 0 20px 0; }
  #category_settings .category_selection_fields .formFieldCt {
    margin: 0; }
    #category_settings .category_selection_fields .formFieldCt label {
      width: 80px; }
    #category_settings .category_selection_fields .formFieldCt select {
      width: 110px; }
  #category_settings #category_selection_fields_wrapper {
    float: left;
    width: 500px; }
    #category_settings #category_selection_fields_wrapper .category_selection_fields {
      margin-bottom: 10px; }
  #category_settings .category_combination_actions {
    float: left;
    margin-left: 40px; }
    #category_settings .category_combination_actions .keep_existing_categories_field {
      margin-top: 10px; }
      #category_settings .category_combination_actions .keep_existing_categories_field label {
        margin-left: 5px; }
  #category_settings #insert_new_category_combination_link {
    color: #456ea4;
    padding-left: 22px;
    text-decoration: none;
    background: url("../images/icons/add.png");
    background-repeat: no-repeat;
    background-position: center left; }
  #category_settings .category_selection_field_actions {
    float: left;
    margin-left: 10px; }
  #category_settings .root_category_selection_field {
    float: left; }
  #category_settings .category_selection_field {
    float: left;
    margin-left: 40px; }
  #category_settings #favorite_category_combinations {
    margin-bottom: 20px; }
    #category_settings #favorite_category_combinations table {
      margin-left: 10px; }
      #category_settings #favorite_category_combinations table td {
        padding-bottom: 2px; }
      #category_settings #favorite_category_combinations table th {
        font-weight: bold;
        padding-bottom: 5px;
        width: 120px; }
        #category_settings #favorite_category_combinations table th.actions {
          width: 40px; }
  #category_settings .category_synonyms_field {
    margin-top: 10px; }
    #category_settings .category_synonyms_field input {
      width: 350px; }

/* NewsViewer Styles */
.news_viewer_item {
  padding: 10px; }
  .news_viewer_item .check {
    float: left;
    margin-right: 5px; }
  .news_viewer_item .news_item {
    margin-left: 15px; }

/* Carrousel styles */
.carrousel_item {
  padding: 10px;
  margin: 10px 0;
  background-color: #dfe8f6; }
  .carrousel_item .counter {
    float: right; }

.carrouselItemColPanel {
  margin: 30px 0; }

.newsItem .bread_crumbs {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  color: black; }

#preview div.forum div.forumTopics div.forumTopicDetails p, #preview div.forumTopic div.forumThreads div.forumThreadDetails p {
  margin: 0; }

#preview div.htmlField h2, #preview div.htmlField h3 {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  color: black; }

#preview {
  padding: 15px 15px 0 15px; }
  #preview #preview-content .forms {
    margin-top: 10px; }
    #preview #preview-content .forms form {
      float: left; }
  #preview .forms form + form {
    padding-left: 15px; }

#show h3, #preview h3 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 19px;
  font-weight: normal;
  line-height: 23px;
  margin-bottom: 8px;
  margin-top: 3px;
  color: #0076af; }

#show p, #preview p {
  margin: 10px 0; }

#show ul, #preview ul, #show ol, #preview ol {
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  margin: 5px 0;
  padding-left: 25px; }

#show ul, #preview ul {
  list-style-type: square; }

#show ol, #preview ol {
  list-style-type: decimal; }

#show strong, #preview strong {
  font-weight: bold; }

#show em, #preview em {
  font-style: italic; }

#show, #preview {
  width: 446px;
  color: black;
  font-family: arial, sans-serif;
  font-size: 11px;
  line-height: 16px; }

#show h2, #preview h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 12px;
  margin-top: 5px;
  color: #0076af; }

#show div.htmlField h2, #show div.htmlField h3 {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  color: black; }

/* Specific styles */
#show .newsItem .header_image, #preview .newsItem .header_image {
  border-top: 1px solid black;
  margin: 20px 0; }

#show .newsItem .header_image .explanation, #preview .newsItem .header_image .explanation {
  font-size: 13px;
  color: black;
  margin: 15px 0 25px 0; }

#show .calendarContainer .calendar, #preview .calendarContainer .calendar {
  font-size: 11px !important;
  text-align: center !important; }

#show .calendarContainer .calendar th, #preview .calendarContainer .calendar th {
  text-align: center !important; }

#show ul.section_items, #preview ul.section_items, #show ol.top_hits, #preview ol.top_hits {
  margin: 5px 0 !important; }

#show ul.section_items, #preview ul.section_items {
  list-style-type: none !important;
  padding-left: 7px !important; }

#show ol.top_hits li, #preview ol.top_hits li {
  padding: 2px 0 2px 5px !important; }

#show ol.top_hits li .hits, #preview ol.top_hits li .hits {
  font-weight: bold; }

#show ul.section_items li, #preview ul.section_items li {
  padding: 2px 0 2px 10px !important; }

#show .calendarDay h3, #preview .calendarDay h3 {
  color: black;
  float: right;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding: 3px 6px 3px 3px; }

#show div.weblogArchive div.weblogs div.weblogDetails p, #preview div.weblogArchive div.weblogs div.weblogDetails p {
  margin: 0; }

#show div.forum div.forumTopics div.forumTopicDetails p, #show div.forumTopic div.forumThreads div.forumThreadDetails p {
  margin: 0; }

.right_panel_content {
  padding: 10px; }
  .right_panel_content h1 {
    font-size: 14px;
    margin: 0 0 15px 0; }
  .right_panel_content h2 {
    font-size: 13px;
    margin: 0 0 10px 0; }

.rightPanelDefault {
  height: 100%; }
  .rightPanelDefault table {
    height: 100%;
    width: 100%;
    background-color: #dfe8f6;
    border-top: 1px solid white; }
  .rightPanelDefault td {
    text-align: center;
    vertical-align: middle; }

/*Generic styles */
#show a {
  color: #0076af; }

.ext-safari .x-form-field-wrap .x-form-trigger {
  right: auto !important; }

abbr, html\:abbr {
  border-bottom: 1px dashed #ccc;
  cursor: help; }

/*node styles */
.x-tree-node-icon {
  background-repeat: no-repeat !important; }

.privateNode span {
  font-weight: bold;
  font-style: italic; }

.hiddenNode span {
  color: #a0a0a0 !important; }

.x-btn button {
  font-family: arial, sans-serif;
  line-height: 13px; }

/*main layout styles */
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #456ea4;
  background-color: #dfe8f6;
  background-image: url("/images/admin/body_bg.png");
  background-repeat: repeat-x; }

h2 {
  font-size: 14px;
  margin-bottom: 20px; }

#header {
  padding: 5px; }

#logged_in_box {
  float: right;
  width: 320px; }

.properties_box, .default_box {
  border: 1px solid #99bbe8;
  background-color: white; }

.properties_box th, .properties_box td {
  text-align: left;
  padding: 4px 10px 4px 10px;
  font-weight: normal; }
.properties_box th {
  background-color: #dfe8f6; }
.properties_box td {
  color: #909090; }

.top_bar {
  background-image: url("/images/admin/top_bar_bg.png");
  background-repeat: repeat-x;
  background-color: #dfe8f6;
  border-bottom: 1px solid #99bbe8;
  height: 32px; }

.menu {
  border-bottom: 0 !important; }

.top_bar h1 {
  font-size: 14px;
  color: #456ea4;
  font-weight: normal;
  margin: 0;
  padding: 8px 0 0 10px; }
.top_bar a {
  float: left;
  margin-top: 3px;
  margin-left: 4px;
  text-align: center;
  padding-top: 5px;
  width: 118px;
  height: 21px;
  background-image: url("/images/admin/top_bar_button.png");
  background-repeat: no-repeat;
  background-color: #dfe8f6;
  background-position: top left;
  color: #456ea4;
  text-decoration: none; }
  .top_bar a:hover, .top_bar a.active {
    background-position: bottom left; }
  .top_bar a.align_right {
    float: right;
    margin-left: 0;
    margin-right: 4px; }

#show {
  padding: 10px; }

.status {
  border: 2px solid #99bbe8;
  padding: 5px; }

/*Forms */
div.form_field {
  margin-bottom: 10px; }
  div.form_field label {
    float: left;
    width: 100px;
    padding-top: 3px;
    line-height: 20px; }

fieldset {
  padding: 10px; }

#slider {
  margin-left: 10px; }

/*Flash messages */
.flash {
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: dashed; }

.notice {
  background-color: #fffede;
  border-bottom-color: #99bbe8; }

.warning {
  background-color: #ffcd8b;
  border-bottom-color: red; }

.error {
  font-weight: bold;
  color: black;
  background-color: white;
  border-bottom-color: red; }

.errorExplanation {
  border: 1px solid #99bbe8;
  padding-bottom: 6px;
  width: 400px;
  margin-bottom: 20px; }
  .errorExplanation h2 {
    font-size: 12px;
    font-weight: bold;
    background-color: #ffcd8b;
    color: black;
    border-bottom: 1px dashed red;
    margin-bottom: 5px;
    padding: 4px; }
  .errorExplanation p {
    padding: 0 4px 4px 4px; }
  .errorExplanation ul {
    list-style-type: disc;
    padding: 0 0 0 20px;
    margin: 0; }

/*sitemap page */
#sitemap_panel, #approvals_panel {
  border-top: 1px solid #99bbe8;
  padding-top: 0; }

.sitemapMainPanel, .approvalMainPanel {
  padding: 5px;
  background-color: #dfe8f6; }

/*Ext.grid.Grid style fix.. */
.x-grid3-header-offset {
  padding-left: 1px;
  width: auto; }

/*file upload table */
.uploaded_images_table, .uploaded_attachments_table {
  margin-bottom: 12px; }

.uploaded_images_table th, .uploaded_attachments_table th, .uploaded_images_table td, .uploaded_attachments_table td {
  background-color: #dfe8f6;
  padding: 3px 6px 3px 6px; }

.uploaded_images_table th, .uploaded_attachments_table th {
  font-weight: bold; }

/*Ext.dvtr.Sorter & Ext.dvtr.Sortlet styles */
.x-sorter .x-panel-body {
  padding: 5px; }

.x-empty-sorter .x-panel-body {
  background-color: #e5ecf7; }

.x-sortlet, .x-sorter .x-panel-dd-spacer {
  margin-bottom: 5px; }

.x-sortlet .x-panel-header {
  padding: 2px 2px 1px 2px; }
.x-sortlet .x-panel-header-text {
  font-size: 9px !important; }

.x-sortlet-header-loading .x-panel-header-text {
  padding-left: 20px;
  background-image: url("/javascripts/ext/resources/images/default/grid/loading.gif");
  background-repeat: no-repeat;
  background-position: left; }

.x-panel-treenode-dd-spacer {
  margin: 5px;
  height: 1px;
  border-top: 2px dashed #99bbe8; }

/*Ext.dvtr.NodeDropField styles */
.x-node-drop-field-over {
  background-image: none !important;
  background-color: #e5ecf7; }

.x-node-drop-field-txt {
  color: #555555;
  margin-left: 5px;
  margin-top: 2px;
  font-style: italic; }

/*Styles for Ext.dvtr.RemovableTextField */
.x-removable-textfield-btn {
  position: relative;
  width: 15px;
  height: 15px;
  background-image: url("/images/icons/delete.png");
  background-repeat: no-repeat;
  top: 2px;
  margin-right: 5px;
  cursor: pointer; }

/* Ext datepicker fix for Firefox 3 */
.x-date-middle {
  width: 160px; }

.x-date-left, .x-date-right {
  width: 20px !important; }

/*Side box manager */
#layout_manager_content #targets .targets {
  float: left;
  margin: 20px; }
#layout_manager_content #targets #custom_representations.targets {
  margin-top: 30px; }

.rightPanelPadding {
  padding: 15px; }

#layout_manager_content #targets table {
  margin-top: 10px;
  background-color: #99bbe8; }
  #layout_manager_content #targets table td {
    background-color: #d0e1f8; }
#layout_manager_content #variants_settings_and_targets {
  padding-bottom: 20px; }

.newsItemColPanel {
  padding-left: 120px; }

/*Form styles */
.formFieldCt {
  margin-bottom: 10px; }
  .formFieldCt label {
    float: left;
    width: 120px;
    color: #456ea4;
    line-height: 20px; }

.formFieldCb {
  padding-left: 100px;
  margin-bottom: 10px; }
  .formFieldCb label {
    padding-left: 5px;
    color: #456ea4; }

.adminSubmitBtn {
  padding-left: 120px;
  float: left; }
  .adminSubmitBtn + .adminSubmitBtn {
    padding-left: 20px !important; }

.videoBtn {
  float: left;
  margin: 5px 0 10px 90px; }

.admin_form_text_field, .admin_form_text_area, .admin_form_select {
  width: 250px;
  border: 1px solid #b5b8c8; }

.admin_form_text_field, .admin_form_select {
  height: 20px; }

.admin_form_text_area {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; }

#html_page_body {
  font-family: "Courier New", Courier, monospace;
  overflow-x: scroll;
  width: 500px; }

.helpText {
  padding-left: 120px;
  /*    background: url('/images/icons/information.png') no-repeat 98px 0; */
  font-size: small; }

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea, .fieldWithErrors .x-html-editor-wrap {
  border-bottom: 1px dashed red !important; }

img.admin-header-image {
  width: 400px;
  height: 52px;
  border: 1px solid #b5b8c8;
  margin: 10px 0 0 0; }

.new_header_image, .edit_header_image {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #b5b8c8; }

.delete {
  width: 400px;
  text-align: right; }

.deleting {
  color: #b5b8c8; }

input.small {
  width: 22px; }

/*User management styles */
.interests_group, .newsletter_archives_group {
  margin-bottom: 10px;
  background-color: #e8eff9;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 72px;
  white-space: nowrap; }

.interests_group .x-panel-body, .newsletter_archives_group .x-panel-body {
  padding-top: 2px;
  padding-left: 3px;
  background-color: #e8eff9; }

.interests_group .x-form-check-wrap, .newsletter_archives_group .x-form-check-wrap {
  padding: 0; }

/*Content box fields */
#content_box_settings {
  margin: 10px 0 20px 0; }
  #content_box_settings .content_box_icon_chooser {
    margin-left: 120px;
    list-style: square outside none; }
  #content_box_settings .content_box_colour_chooser {
    list-style: square outside none; }
  #content_box_settings .content_box_icon_chooser li {
    display: block;
    position: relative; }
  #content_box_settings .content_box_colour_chooser li {
    display: block;
    position: relative;
    width: 40px;
    margin-right: 10px;
    float: left; }
  #content_box_settings .content_box_icon_chooser li {
    width: 120px;
    margin: 4px 20px 0 0;
    float: left; }
  #content_box_settings .content_box_icon_chooser label {
    float: none;
    display: inline-block;
    background-repeat: no-repeat; }
  #content_box_settings .content_box_colour_chooser label {
    float: none;
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background: transparent;
    margin-right: 20px; }
    #content_box_settings .content_box_colour_chooser label.default {
      background-image: url("/images/content_box_header_default.png"); }
  #content_box_settings .content_box_icon_chooser label {
    width: 100px;
    height: 48px;
    background: #e7e6e6;
    margin-right: 20px; }
  #content_box_settings .content_box_icon_chooser input {
    display: inline-block;
    position: absolute;
    right: 3px; }
  #content_box_settings .content_box_colour_chooser input {
    display: inline-block;
    position: absolute;
    right: 3px; }
  #content_box_settings .content_box_icon_chooser input {
    top: 17px; }
  #content_box_settings .content_box_colour_chooser input {
    top: 3px; }

/* Misc */
#auto_complete_ct {
  padding-left: 120px; }

.ext-gecko .x-window-body .x-form-item {
  overflow: inherit !important; }

#autocomplete {
  background-color: #dfe8f6; }
  #autocomplete ul {
    margin: 10px; }
    #autocomplete ul li:hover {
      cursor: pointer;
      background-color: #e7e6e6; }

.url_alias_textbox input {
  margin: 4px !important;
  width: 300px !important; }

.url_alias_textbox .ext-mb-fix-cursor {
  overflow: hidden !important; }

.x-date-menu {
  width: 200px !important; }

.x-date-picker {
  width: 200px !important; }

.x-menu {
  width: 200px !important; }

.x-combo-list {
  left: 391px !important; }
