<div style="font-family: arial, sans-serif; font-size: 12px">
  <p>
      Beste heer/mevrouw,
  </p>
  <p>
      Bijgevoegd vindt u de wekelijkse samenvatting van de aanstaande bekendmakingen van week <%= @week %> <%= @year %>.
  </p>
  <p>
      Met vriendelijke groet,
      <br/><br/>
      Het <%= @host %> team
  </p>
</div>