<div class="right_panel_content">
  <h1><%=t 'nodes.bulk_edit' -%></h1>

  <% admin_form_remote_tag :url => bulk_update_admin_nodes_path(:format => 'html', :ids => @nodes.map(&:id)), :update => 'right_panel_body', :html => { :method => :put } do %>
    
    <%= admin_submit_tag t('shared.save') -%>
  <% end %>
</div>
