- if @user.is_a?(PrivilegedUser)
  - include_js 'entropy.js'
  #password_rater
  - if Settler[:password_required_entropy] && Settler[:password_good_entropy]
    %script{ :type => 'text/javascript' }
      = 'var required_entropy = ' + Settler[:password_required_entropy].to_s  + ';'
      = 'var good_entropy = ' + Settler[:password_good_entropy].to_s  + ';'
