- if @user.is_a?(PrivilegedUser)
  - include_js 'entropy.js'
  #password_rater{ :data => { :'required-entropy' => Settler[:password_required_entropy], :'good-entropy' => Settler[:password_good_entropy] } }
