- if @link.is_a?(InternalLink)
  = render partial: 'admin/internal_links/form', locals: { form: form, record: record }
- else
  = render partial: 'admin/external_links/form', locals: { form: form, record: record }
