/ Table for schematic layout view
%table
  %tr{:height => "40px"}
    %td{:colspan => "3"} &nbsp;
  %tr
    %td
      #primary_column
    %td
      #main_content_column
    %td
      #secondary_column
