---
http_interactions:
- request:
    method: get
    uri: https://search.enrise.com/deventer.nl/suggest?q=for
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"<b>For</b>mulieren","url":"https://www.deventer.nl/formulieren","type":"page"},{"title":"<b>For</b>um
        &#x2F; Raadsvergadering","url":"https://www.deventer.nl/besturen/vergaderingen-gemeenteraad/2016/11/30/forum-/raadsvergadering","type":"page"},{"title":"Food
        <b>for</b> Thought diner","url":"https://www.deventer.nl/besturen/deventer-internationaal/nieuws-deventer-internationaal/2015/11/12/food-for-thought-diner","type":"page"}],"suggestions":[{"text":"formeel"},{"text":"formulier"},{"text":"formele"}],"timing":{"search":546.11,"search:took":545,"request":547.97}}'
  recorded_at: Fri, 14 Jul 2017 10:11:52 GMT
recorded_with: VCR 3.0.3
