---
http_interactions:
- request:
    method: get
    uri: https://search.enrise.com/deventer.nl/search?page=1&q=&size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request":{"q":"","page":1,"size":5,"facets":{},"full":false,"nocorrect":false,"track":true,"notiming":false},"received":{"q":"","page":1,"size":5},"timing":{"request":1.35}}'
  recorded_at: Fri, 14 Jul 2017 10:24:11 GMT
recorded_with: VCR 3.0.3
