- if current_site.content.analytics_code.present?
  - analytics_code = current_site.content.analytics_code
- elsif Settler[:google_analytics_key].present?
  - analytics_code = Settler[:google_analytics_key]

- if analytics_code
  / Google Analytics code
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{escape_javascript(analytics_code)}']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
