<div id="images_bar">
  <% images.each do |image| %>
     <%= 
      link_to_node(
        image_tag(content_node_path(image.node, :action => :thumbnail), :alt => h(image.alt)),
        image.node,
        { :action => :full },
        { :rel => "lightbox[#{rel}]", :title => "#{h image.title} - #{h image.description}" }
      )
    -%>
  <% end %>
</div>
