- if carrousel_item.blank? || !carrousel_item.item.is_a?(Image)
  .header
    .corner_overlay.transparent
    %h2= (carrousel_item.try(:item) || content).title

- if carrousel_item
  - image = carrousel_item.image
  - url   = (carrousel_item.item.is_a?(Image) && carrousel_item.item.url.present? && carrousel_item.item.url) || content_node_url(carrousel_item.item.node)

  - if image
    = link_to(image_tag(sidebox_image_path(image, :format => :jpg), :alt => h(image.alt)), url)
  - if carrousel_item.excerpt.present?
    %p.excerpt
      = h carrousel_item.excerpt

    = link_to t('shared.read_more'), url, :class => 'read_more_link'
