- cache(:footer_for_site => current_site.id, :expires_in => 1.hour) do
  #footer.clearfix
    .meta_links
      = link_to_node t('layouts.home_link'), current_site
    .menu_links
      = create_footer_menu_links
