.content_box.private_menu_content_box
  .content_box_wrapper.default
    .header
      .corner_overlay.transparent
      %h2= I18n.t('layouts.private_menu_header')
    .content.hoverable
      %ul
        - @private_menu_items.each do |item|
          - if item.is_a?(Array)
            %li= link_to(item.first, item.last)
          - else
            %li= link_to_node(item.content_title, item)
