- content = node.content
- children = node.children.accessible.is_public.exclude_content_types(%w( Image Attachment SearchPage Site )).limit(node.content_box_number_of_items)

- if (description = strip_tags(content.description)).present?
  .description
    = truncate(description, length: 200)

- if children.present?
  %ul
    - children.each do |child|
      %li.hover
        = link_to_node_url h(child.content_title), child

= read_more_link(content)
