%p
  Voor een succesvolle import moet de eerste regel van het csv file de volgende items(headers) hebben (volgorde maakt niet uit)
  = @csv_headers 
- form_tag ({:method => :post, :action => :import_csv, :id => @contact_form.id},{:multipart => true} )do
  %p
    %label{:for => 'file'} CSV File
    = file_field_tag "csv_file"
  %p
    = submit_tag "Verstuur"