<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
     <Alignment ss:Vertical="Bottom"/>
     <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#313131"/>
    </Style>
    <Style ss:ID="s64">
     <Font ss:FontName="Calibri" ss:Size="18" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s65">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#313131" ss:Bold="1"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Inzendingen">
    <Table>
      <Row ss:Height="30">
        <Cell ss:StyleID="s64"><Data ss:Type="String">Inzendingen voor Inschrijven als belangstellende</Data></Cell>
      </Row>
      <Row ss:StyleID="s65">
      <% @labels.each do |label| %>
        <Cell><Data ss:Type="String"><%= label %></Data></Cell>
      <% end %>
      </Row>
    <% @responses.each do |response| %>
      <Row>
      <% response.response_fields.each do |field| %>
        <Cell><Data ss:Type="String"><%= field.value %></Data></Cell>
      <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
