<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @labels.each do |label| %>
          <Cell><Data ss:Type="String"><%= label %></Data></Cell>
        <% end %>
      </Row>
    <% @responses.each do |response| %>
      <Row>
      <% response.response_fields.map.each do |field| %>
        <Cell><Data ss:Type="String"><%= field.value %></Data></Cell>
      <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
