- content        = node.content
- limit          = node.content_box_number_of_items || 10
- calendar_items = content.calendar_items.current_and_future(Time.now, limit)

- unless calendar_items.empty?
  %ul
    - calendar_items.each do |event|
      %li.clearfix
        .date
          = l event.start_time.to_date, :format => :short
        .link
          = link_to_content_node(h(event.title), event, { :type => :url, :host => event.node.containing_site.content.domain })
  = read_more_link(content, t('shared.more_activities'))

- else
  %p= t 'calendars.no_calendar_items'
