%ul.section_items
  - items.each do |node|
    %li
      = image_tag "icons/#{node.content.icon_filename}", :class => 'icon', :alt => h(node.content.title)
      = link_to_node h(node.content.title), node
      %p= node.content.description