- cache(:footer_for_site => current_site.id, :last_updated_at => current_site.children.accessible.public.shown_in_menu.maximum(:updated_at)) do
  #footer.clearfix
    .meta_links
      = link_to_node I18n.t('layouts.home_link'), current_site
    .menu_links
      = create_footer_menu_links
