- cache(:controller => '/nodes', :action => :footer, :site => current_site.id) do
  #footer.clearfix
    .meta_links
      = link_to_node I18n.t('layouts.home_link'), current_site
    .menu_links
      = create_footer_menu_links
