= form.text_field   :from_email_address,                            :label => t('newsletters.from_email_address')
= form.html_editor  :description,                                   :label => t('shared.description'), :height => 100