#columns_wrapper.clearfix
  #inner_columns_wrapper.clearfix
    #content_extended.clearfix
      = bread_crumbs_for(@node, :include_root => false, :minimum_crumbs => 2) if @node && !@node.columns_mode?
      = yield_flash
      = yield
      \&nbsp;
  #first_side_bar
    = render_representations('primary_column')
