<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <p>
    Beste <%= @share.to_name -%>,
  </p>
  <p>
    U ontvangt deze e-mail omdat <%= @share.from_name -%> (<%= @share.from_email_address -%>)
    het volgende bericht wil delen:
    <br/><br/>

    <%= @share.message %>
  </p>
</div>
