<% content_for :javascript do %>
  <%= javascript_tag do %>
    document.observe('dom:loaded', function () {
      var slides = <%= available_header_images.to_json.html_safe %>;
      headerSlideShow = new SlideShow(slides, {
        fadeDuration: 3000,
        displayDuration: 6000,
        fadeOutStartToFadeInStartDelay: 0
      });
      if (slides.size() > 1) {
        headerSlideShow.start();
      };
    });
  <% end %>
<% end %>

<div id="header-slideshow">
  <% header_image = available_header_images.first %>
  <%= image_tag header_image[:url], :id => header_image[:id], :title => header_image[:title], :alt => header_image[:alt] %>
</div>