- header_image = available_header_images.first
#header-slideshow{ :data => { :slides => available_header_images.to_json } }
  = image_tag header_image[:url], :id => header_image[:id], :title => header_image[:title], :alt => header_image[:alt].to_s
