- if DevcmsCore.config.search_engine == 'google_site_search' && record.is_a?(Section)
  %fieldset
    %legend= t 'google_site_searches.search_engine'
    = form.text_field(:google_search_engine, label: t('google_site_searches.google_search_engine'))
