<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
  <p>De volgende velden zijn ingevuld in het <%= @title -%>:</p>
  <% @entered_fields.each do |field| %>
    <p><%= field[:label] -%>: <%= field[:value].is_a?(Tempfile) ? field[:value].original_filename : field[:value] -%></p>
  <% end %>
</div>
