#columns_wrapper.clearfix
  #inner_columns_wrapper.clearfix
    #content_extended.clearfix
      - if @node.present?
        = bread_crumbs_for(@node, :include_root => false, :minimum_crumbs => 2)
      = yield_flash
      = yield
      \&nbsp;
  #first_side_bar
    = render_representations('primary_column')
